<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zeus.zeushotfixapp">

    <application
        android:name="com.zeushotfix.wrap.ZeusHotfixApplicationProxy"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.zeushotfix.inside.InstallHotfixService"
            android:process=":hotfix"/>
        <meta-data
            android:name="HOTFIX_VERSION"
            android:value="1" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>